# Ignorar archivos temporales
*.log
*.tmp

# Ignorar carpetas de entorno y dependencias
node_modules/
.env
__pycache__/
.vscode/
dist/
build/
lakehouse/
sample_data/

#archivos de configuracion
farmia_ingest_config.json

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
